body{
  background-color: #242424;
  padding: 25px;
}
.title {
	color: #5C6AC4;
}

.client-list {
  font-family: 'Courier New', Courier, monospace;
  color: #FFFFFF;
  
  border: 2px solid #FFFFFF;
  border-radius: 0;
  padding: 20px 16px 16px 16px;
  
  width: min(230px, 90vw);
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
}

.box-header {
  font-weight: bold;
  padding: 0 8px;
  margin: 0 auto;
  text-align: center;
}

.value-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}